<style>
    /* Styles pour la barre de navigation */
    .navbar {
        background: linear-gradient(to right, #8e44ad, #c0392b); /* Dégradé de couleurs */
        padding: 10px 20px;
        border-radius: 10px; /* Coins arrondis */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end;
    }

    .navbar a {
        color: #fff;
        padding: 10px 20px;
        border-radius: 4px; /* Coins arrondis */
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .navbar a:hover {
        background-color: rgba(255, 255, 255, 0.1); /* Légère opacité au survol */
    }
    /* Styles personnalisés pour l'affichage des formations */
    .formation-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        height: 90px; /* Hauteur fixe */
    }
    .formation-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }


    .formation-details {
        flex-grow: 1;
        margin-right: 20px;
    }

    .formation-details b {
        color: #333;
    }

    .formation-buttons {
        text-align: right;
    }

    .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 6px;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .btn-primary {
        background: linear-gradient(to right, #8e44ad, #c0392b);
        color: #fff;
    }

    .btn-danger {
        background-color: #dc3545;
        color: #fff;
    }

    .btn-success {
        background-color: #28a745;
        color: #fff;
    }

    .btn:hover {
        transform: translateY(-2px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .top-right-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    }

    .notification {
    position: fixed;
    top: 10px; /* Marge du haut de l'écran */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%; /* Largeur de la notification */
    max-width: 600px; /* Largeur maximale de la notification */
    margin-top: 20px; /* Espacement supplémentaire du haut */
    }

    .alert {
        border: 2px solid;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .alert-success {
        border-color: #28a745; /* Couleur verte */
        background-color: #d4edda; /* Fond vert clair */
        color: #155724; /* Texte vert foncé */
    }
    .alert-warning {
        border-color: #FF1B1B; /* Couleur rouge */
        background-color: #FFB2B2; /* Fond rouge clair */
        color: #FF1B1B; /* Texte rouge foncé */
    }

    .image-container {
    display: flex;
    justify-content: center;
    width: 50%; /* Assurez-vous que le conteneur de l'image prend toute la largeur */
    }
   
</style>

<div class="notification">
    {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">{{ flash_message }}</div>
    {% endfor %}
    
    {% for flash_message in app.flashes('warning') %}
        <div class="alert alert-warning">{{ flash_message }}</div>
    {% endfor %}
</div>


    <nav class="navbar">
<a href="{{ path('app_affFormaEmp1') }}">Mes inscriptions</a>
<a href="{{ path('app_login') }}">Se déconnecter</a>
    </nav>
{% if message %}
    <div class="alert alert-info">{{ message }}</div>
{% endif %}


{% for formation in ensFormation %}
    
    <div class="formation-container">
        <div class="formation-details">
            <b>Date de début:</b> {{ formation.dateDebut|date("m/d/Y") }} <br>
            <b>Nombre d'heures:</b> {{ formation.nbrHeure }}<br>
            <b>Département:</b> {{ formation.departement }}<br>
            <b>Produit:</b> {{ formation.produit.libelle }}<br>
            <b>Description:</b> {{ formation.Description }}<br>
        </div>

        {% if formation.produit.libelle == "C++" %}
                 <div class="image-container">
                    <img src="{{ asset('images/C++.png') }}" alt="Description de l'image" style="width: 130px; height: auto;">
                </div>
                {% endif %}

                {% if formation.produit.libelle == "Java" %}
                 <div class="image-container">
                    <img src="{{ asset('images/java.png') }}" alt="Description de l'image" style="width: 85px; height: auto;">
                </div>
                {% endif %}

                {% if formation.produit.libelle == "Javascript" %}
                 <div class="image-container">
                    <img src="{{ asset('images/js.png') }}" alt="Description de l'image" style="width: 80px; height: auto;">
                </div>
                {% endif %}

                {% if formation.produit.libelle == "html" %}
                 <div class="image-container">
                    <img src="{{ asset('images/html-5.png') }}" alt="Description de l'image" style="width: 80px; height: auto;">
                </div>
                {% endif %}

                {% if formation.produit.libelle == "python" %}
                 <div class="image-container">
                    <img src="{{ asset('images/python.png') }}" alt="Description de l'image" style="width: 70px; height: auto;">
                </div>
                {% endif %}

                {% if formation.produit.libelle == "php" %}
                 <div class="image-container">
                    <img src="{{ asset('images/php.png') }}" alt="Description de l'image" style="width: 70px; height: auto;">
                </div>
                {% endif %}

        <div class="formation-buttons">
            <form method="post" action="{{ path('inscriptionEmp', {'formationId': formation.getId()})}}">
                <input type="hidden" name="formationId" value="{{ formation.id }}">
                <button type="submit" class="btn btn-primary">S'inscrire</button>
            </form>
        </div>
    </div>
{% endfor %}
